# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Logs
pip-log.txt
pip-delete-this-directory.txt

# Test results
/cover/
.tox/
.cache
.coverage

# Application data
/data

# Configuration
/consul_config.py
/custom_config.py
